<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a2017398956.nodesignmodeframework">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exception.test.ResultInfoExceptionActivity" />
        <activity android:name=".exception.test.CreateResultInfoActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.BottomSheetBehaviorTestActivity" />
        <activity android:name=".activity.PullToRefreshSwipeMenuListViewActivity" />

        <activity android:name=".activity.ValueAnimatorTestActivity"></activity>

        <activity android:name=".activity.ImitationWin10ProgressBarActivity"></activity>
    </application>

</manifest>